config/privada.key
config/publica.key
config/database.php

# Claves privadas - ¡NUNCA SUBIR A REPOSITORIOS PÚBLICOS!
config/privada.key
config/*.key

# Archivos de configuración de entornos de desarrollo (IDEs)
.vscode/
.idea/

# Archivos temporales y de sistema operativo
*.tmp
*.log
*.cache

Thumbs.db
.DS_Store

# Archivos de bases de datos locales
*.sqlite
*.db
